# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.eggs/

# Virtual environment
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db
